{{ define "main" }}
  <article class="contain">
    <div class="mb-8 boxes-large">
      <div class="lg:w-1/2">
        <header>
          <h1 class="title text-3xl">
            <a class="title-link" href="{{ .RelPermalink }}">
              {{ .Params.title }}
            </a>
          </h1>
          <p class="subtitle">
            {{ .Params.summary | $.Page.RenderString }}
          </p>
        </header>
        <div class="custom-prose">
          <p>
            {{ .Params.short | $.Page.RenderString }}
          </p>
          <p>
            {{ .Params.vision | $.Page.RenderString }}
          </p>
          {{ .Params.quote | $.Page.RenderString }}
        </div>
      </div>
      <div class="lg:w-1/2">
        {{ partial "picture" (dict
          "src" (index .Params.images 0)
          "format" "portrait"
          "alt" "Portrait von Simon herzlich lachend mit leuchtenden Augen"
          "breakpoint" "lg"
          )
        }}
      </div>
    </div>
    <section id="{{ .Params.training.anchor }}" class="mb-8">
      <div class="lg:w-2/3">
        <header>
          <h2 class="title text-2xl">
            <a class="title-link" href="#{{ .Params.training.anchor }}">
              {{ .Params.training.title }}
            </a>
          </h2>
          <p class="subtitle">
            {{ .Params.training.summary | $.Page.RenderString }}
          </p>
        </header>
        <div class="custom-prose">
          {{ .Params.training.description | $.Page.RenderString }}
          {{ .Params.training.quote | $.Page.RenderString }}
        </div>
      </div>
    </section>
    <section id="{{ .Params.sacred_dance.anchor }}" class="mb-8">
      <div class="lg:w-2/3">
        <header>
          <h2 class="title text-2xl">
            <a class="title-link" href="#{{ .Params.sacred_dance.anchor }}">
              {{ .Params.sacred_dance.title }}
            </a>
          </h2>
          <p class="subtitle">
            {{ .Params.sacred_dance.summary | $.Page.RenderString }}
          </p>
        </header>
        <div class="custom-prose">
          <p>
            {{ .Params.sacred_dance.description | $.Page.RenderString }}
          </p>
          {{ .Params.sacred_dance.quote | $.Page.RenderString }}
        </div>
      </div>
      <div class="my-8 boxes">
        {{ range .Params.sacred_dance.boxes }}
          <section id="{{ .anchor }}" class="box box-invert md:w-1/2">
            <header>
              <h3 class="title text-2xl title-invert">
                <a class="title-link title-link-invert" href="#{{ .anchor }}"
                  >{{ .title | $.Page.RenderString }}</a
                >
              </h3>
              <p class="subtitle subtitle-invert">
                {{ .summary | $.Page.RenderString }}
              </p>
            </header>
            <div class="custom-prose-invert">
              <p>{{ .text | $.Page.RenderString }}</p>
            </div>
          </section>
        {{ end }}
      </div>
    </section>
    <section>
      <div class="my-8 boxes">
        {{ with .Params.training.timelines.thai_yoga }}
          <section id="{{ .anchor }}" class="lg:w-1/3">
            <header>
              <h3 class="title text-2xl">
                <a class="title-link title-link-invert" href="#{{ .anchor }}"
                  >{{ .title | $.Page.RenderString }}</a
                >
              </h3>
            </header>
            <ol>
              {{ range sort .entries "from" "desc" }}
                <li class="mb-4">
                  <h3 class="title text-xl">{{ .what }}</h3>
                  <div class="subtitle mb-0">{{ .field }}</div>
                  <div>
                    {{ partial "time-range" (dict "from" .from "to" .to) }}
                  </div>
                  <div>{{ .who | $.Page.RenderString }}</div>
                </li>
              {{ end }}
            </ol>
          </section>
        {{ end }}
        <section class="lg:w-1/3">
          {{ with .Params.training.timelines.holistic_bodywork }}
            <section id="{{ .anchor }}">
              <header>
                <h3 class="title text-2xl">
                  <a class="title-link title-link-invert" href="#{{ .anchor }}"
                    >{{ .title | $.Page.RenderString }}</a
                  >
                </h3>
              </header>
              <ol>
                {{ range sort .entries "from" "desc" }}
                  <li class="mb-4">
                    <h3 class="title text-xl">{{ .what }}</h3>
                    <div class="subtitle mb-0">{{ .field }}</div>
                    <div>
                      {{ partial "time-range" (dict "from" .from "to" .to) }}
                    </div>
                    <div>{{ .who | $.Page.RenderString }}</div>
                  </li>
                {{ end }}
              </ol>
            </section>
          {{ end }}
          {{ with .Params.training.timelines.shiatsu }}
            <section id="{{ .anchor }}">
              <header>
                <h3 class="title text-2xl">
                  <a class="title-link title-link-invert" href="#{{ .anchor }}"
                    >{{ .title | $.Page.RenderString }}</a
                  >
                </h3>
              </header>
              <ol>
                {{ range sort .entries "from" "desc" }}
                  <li class="mb-4">
                    <h3 class="title text-xl">{{ .what }}</h3>
                    <div>
                      {{ partial "time-range" (dict "from" .from "to" .to) }}
                    </div>
                    <div>{{ .who | $.Page.RenderString }}</div>
                  </li>
                {{ end }}
              </ol>
            </section>
          {{ end }}
          {{ with .Params.training.timelines.tantra }}
            <section id="{{ .anchor }}">
              <header>
                <h3 class="title text-2xl">
                  <a class="title-link title-link-invert" href="#{{ .anchor }}"
                    >{{ .title | $.Page.RenderString }}</a
                  >
                </h3>
              </header>
              <ol>
                {{ range sort .entries "from" "desc" }}
                  <li class="mb-4">
                    <h3 class="title text-xl">{{ .what }}</h3>
                    <div class="subtitle mb-0">{{ .field }}</div>
                    <div>
                      {{ partial "time-range" (dict "from" .from "to" .to) }}
                    </div>
                    <div>{{ .who | $.Page.RenderString }}</div>
                  </li>
                {{ end }}
              </ol>
            </section>
          {{ end }}
        </section>
        <section class="lg:w-1/3">
          {{ with .Params.training.timelines.yoga }}
            <section id="{{ .anchor }}" class="mb-4">
              <header>
                <h3 class="title text-2xl">
                  <a class="title-link title-link-invert" href="#{{ .anchor }}"
                    >{{ .title | $.Page.RenderString }}</a
                  >
                </h3>
                <p class="subtitle">{{ .subtitle | $.Page.RenderString }}</p>
              </header>
              <ol>
                {{ range sort .entries "from" "desc" }}
                  <li>
                    <h3 class="title text-xl">{{ .what }}</h3>
                    <div>
                      {{ partial "time-range" (dict "from" .from "to" .to) }}
                    </div>
                  </li>
                {{ end }}
              </ol>
            </section>
          {{ end }}
          {{ with .Params.training.timelines.ayurveda }}
            <section id="{{ .anchor }}" class="mb-4">
              <header>
                <h3 class="title text-2xl">
                  <a class="title-link title-link-invert" href="#{{ .anchor }}"
                    >{{ .title | $.Page.RenderString }}</a
                  >
                </h3>
                <p class="subtitle">{{ .subtitle | $.Page.RenderString }}</p>
              </header>
              <ol>
                {{ range sort .entries "from" "desc" }}
                  <li>
                    <h3 class="title text-xl">{{ .what }}</h3>
                    <div>
                      {{ partial "time-range" (dict "from" .from "to" .to) }}
                    </div>
                  </li>
                {{ end }}
              </ol>
            </section>
          {{ end }}
          {{ with .Params.training.timelines.others }}
            <section id="{{ .anchor }}">
              <header>
                <h3 class="title text-2xl">
                  <a class="title-link title-link-invert" href="#{{ .anchor }}"
                    >{{ .title | $.Page.RenderString }}</a
                  >
                </h3>
                <p class="subtitle">{{ .subtitle | $.Page.RenderString }}</p>
              </header>
              <ol>
                {{ range sort .entries "from" "desc" }}
                  <li class="mb-4">
                    <h3 class="title text-xl">{{ .what }}</h3>
                    <div>
                      {{ partial "time-range" (dict "from" .from "to" .to) }}
                    </div>
                    <div>{{ .who | $.Page.RenderString }}</div>
                  </li>
                {{ end }}
              </ol>
            </section>
          {{ end }}
        </section>
      </div>
    </section>
    <div class="custom-prose">
      {{ .Content }}
    </div>
  </article>
  {{- partial "contact.html" . -}}
{{ end }}
