<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  {{- partial "head.html" . -}}
  <body class="text-slate-900">
    {{- partial "header.html" . -}}
    <main>
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}

    {{ $scripts := resources.Get "js/scripts.js" }}
    {{ if hugo.IsServer }}
      <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
    {{ else }}
      {{ $scripts := $scripts | minify | fingerprint }}
      <script
        type="text/javascript"
        src="{{ $scripts.RelPermalink }}"
        integrity="{{ $scripts.Data.Integrity }}"
      ></script>
    {{ end }}
  </body>
</html>
