{{ define "main" }}
  <article class="contain">
    <div class="lg:w-2/3">
      <header>
        <h1 class="title text-3xl">
          <a class="title-link" href="{{ .RelPermalink }}">
            {{ .Params.title }}
          </a>
        </h1>
        <p class="subtitle">
          {{ .Params.summary | $.Page.RenderString }}
        </p>
      </header>
      <div class="custom-prose">
        {{ .Content }}
      </div>
      <div>
        {{ partial "picture" (dict
          "src" "images/aufatmen.jpg"
          "format" "portrait"
          "alt" "Portrait von Simon herzlich lachend mit leuchtenden Augen")
        }}
      </div>
    </div>
  </article>
{{ end }}
