{{ define "main" }}
  <article class="contain">
    <div class="mb-8 boxes-large">
      <div class="lg:w-1/2">
        <header>
          <h1 class="title text-3xl">
            <a class="title-link" href="{{ .RelPermalink }}">
              {{ .Params.title }}
            </a>
          </h1>
          <p class="subtitle">
            {{ .Params.summary | $.Page.RenderString }}
          </p>
        </header>
        <div class="custom-prose">
          <p>
            {{ .Params.short | $.Page.RenderString }}
          </p>
          {{ .Params.quote | $.Page.RenderString }}
        </div>
      </div>
      <div class="lg:w-1/2 overflow-hidden">
        {{ partial "picture" (dict
          "src" (index .Params.images 0)
          "format" "landscape"
          "alt" "Seitdehnung"
          "breakpoint" "lg"
          )
        }}
      </div>
    </div>
    <section id="{{ .Params.effects.anchor }}">
      <div class="lg:w-2/3">
        <header>
          <h2 class="title text-2xl">
            <a class="title-link" href="#{{ .Params.effects.anchor }}">
              {{ .Params.effects.title }}
            </a>
          </h2>
          <p class="subtitle">
            {{ .Params.effects.summary | $.Page.RenderString }}
          </p>
        </header>
        <div class="custom-prose">
          <p>
            {{ .Params.effects.description | $.Page.RenderString }}
          </p>
          {{ .Params.effects.quote | $.Page.RenderString }}
        </div>
      </div>
      <div
        id="naeheres-ueber-{{ .Params.effects.anchor }}"
        class="my-8 boxes-large"
      >
        {{ range .Params.effects.boxes }}
          <section id="{{ .anchor }}" class="box box-invert lg:w-1/3">
            <header>
              <h3 class="title text-2xl title-invert">
                <a class="title-link title-link-invert" href="#{{ .anchor }}"
                  >{{ .title | $.Page.RenderString }}</a
                >
              </h3>
              <p class="subtitle subtitle-invert">
                {{ .summary | $.Page.RenderString }}
              </p>
            </header>
            <div class="custom-prose-invert">
              <ul class="text-left pl-0">
                {{ range .list }}
                  <li class="pl-0">
                    {{ . | $.Page.RenderString }}
                  </li>
                {{ end }}
              </ul>
            </div>
          </section>
        {{ end }}
      </div>
    </section>
    <section
      id="naeheres-ueber-thai-yoga"
      class="boxes-large lg:flex-row-reverse"
    >
      <div class="lg:w-1/3 lg:mt-5">
        <aside class="custom-prose lg:sticky lg:top-5">
          <header>Inhaltsverzeichnis</header>
          <ul>
            <li><a href="#">{{ .Params.title }}</a></li>
            <li>
              <a href="#{{ .Params.effects.anchor }}"
                >{{ .Params.effects.title }}</a
              >
            </li>
          </ul>
          {{ .TableOfContents }}
          <ul>
            {{ with .Site.GetPage "/ueber-mich" }}
              <li>
                <a href="#{{ .Params.sacred_dance.anchor }}"
                  >{{ .Params.sacred_dance.title }}</a
                >
              </li>
            {{ end }}
          </ul>
        </aside>
      </div>
      <div class="lg:w-2/3">
        <div class="custom-prose">
          {{ .Content }}
          {{ with .Site.GetPage "/ueber-mich" }}
            <h2 id="{{ .Params.sacred_dance.anchor }}">
              {{ .Params.sacred_dance.title }}
            </h2>
            <p>
              {{ .Params.sacred_dance.description | $.Page.RenderString }}
            </p>
            {{ range .Params.sacred_dance.boxes }}
              <p>{{ .text | $.Page.RenderString }}</p>
            {{ end }}
            {{ .Params.sacred_dance.quote | $.Page.RenderString }}
          {{ end }}
        </div>
      </div>
    </section>
  </article>
  {{- partial "contact.html" . -}}
{{ end }}
