{{ define "main" }}
  <article class="contain">
    <div class="boxes-large lg:flex-row-reverse">
      <div class="lg:w-1/3">
        <aside class="custom-prose lg:sticky lg:top-4">
          {{ if .Params.table_of_contents }}
            <header>Inhaltsverzeichnis</header>
            {{ .TableOfContents }}
          {{ end }}
        </aside>
      </div>
      <div class="lg:w-2/3">
        <header>
          <h1 class="title text-3xl">
            <a class="title-link" href="{{ .RelPermalink }}">
              {{ .Params.title }}
            </a>
          </h1>
          <p class="subtitle">
            {{ .Params.summary | $.Page.RenderString }}
          </p>
        </header>
        <div class="custom-prose">
          {{ .Content }}
        </div>
      </div>
    </div>
  </article>
{{ end }}
