{{ define "main" }}
  <article class="contain">
    <section class="mb-8 boxes-large">
      <div class="lg:w-1/2">
        <header>
          <h1 class="title text-3xl">
            <a class="title-link" href="{{ .RelPermalink }}">
              {{ .Params.title }}
            </a>
          </h1>
          <p class="subtitle">
            {{ .Params.summary | $.Page.RenderString }}
          </p>
        </header>
        <div class="custom-prose">
          {{ .Params.course_of_events | $.Page.RenderString }}
          {{ .Params.quote | $.Page.RenderString }}
        </div>
      </div>
      <div class="lg:w-1/2">
        {{ partial "picture" (dict
          "src" (index .Params.images 0)
          "format" "portrait"
          "alt" "Bauchwelle"
          "breakpoint" "lg"
          )
        }}
      </div>
    </section>
    <div id="naeheres" class="my-8 boxes-large">
      {{ range .Params.boxes }}
        <section id="{{ .anchor }}" class="box box-invert lg:w-1/3">
          <header>
            <h2 class="title text-3xl title-invert">
              <a class="title-link title-link-invert" href="#{{ .anchor }}"
                >{{ .title | $.Page.RenderString }}</a
              >
            </h2>
            <p class="subtitle subtitle-invert">
              {{ .summary | $.Page.RenderString }}
            </p>
          </header>
          <div class="custom-prose-invert">
            <p>
              {{ .description | $.Page.RenderString }}
            </p>
          </div>
        </section>
      {{ end }}
    </div>
    <section class="custom-prose lg:w-2/3">
      {{ .Content }}
    </section>
  </article>
  {{- partial "contact.html" . -}}
{{ end }}
