@tailwind base;
@tailwind components;
@tailwind utilities;

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  quotes: "„" "“" "‚" "‘";
}

@layer components {
  .contain {
    @apply max-w-6xl mx-auto p-8;
  }
  .title {
    @apply font-serif font-thin tracking-wide text-indigo-800;
  }
  .title-link {
    @apply hover:bg-indigo-900/5 hover:rounded hover:py-px hover:-my-px hover:px-1 hover:-mx-1;
  }
  .subtitle {
    @apply mb-4 italic text-slate-900;
  }
  .boxes {
    @apply flex flex-col gap-y-8 md:justify-between md:flex-nowrap md:flex-row md:gap-x-8;
  }
  .boxes-large {
    @apply flex flex-col gap-y-8 lg:justify-between lg:flex-nowrap lg:flex-row lg:gap-x-8;
  }
  .box {
    @apply bg-white rounded p-8 text-center;
  }
  .custom-prose {
    @apply prose prose-slate max-w-none
      prose-a:no-underline prose-a:text-indigo-700
      hover:prose-a:bg-indigo-900/5 hover:prose-a:rounded hover:prose-a:py-px hover:prose-a:-my-px hover:prose-a:px-0.5 hover:prose-a:-mx-0.5
      prose-headings:font-serif prose-headings:font-thin prose-headings:tracking-wide prose-headings:text-indigo-900;
  }
  .custom-prose-invert {
    @apply prose prose-invert max-w-none
      prose-a:no-underline prose-a:text-white
      hover:prose-a:bg-black/20 hover:prose-a:rounded hover:prose-a:py-px hover:prose-a:-my-px hover:prose-a:px-0.5 hover:prose-a:-mx-0.5
      prose-headings:font-serif prose-headings:font-thin prose-headings:tracking-wide prose-headings:text-indigo-100;
  }
}

@layer utilities {
  .title-invert {
    @apply text-white;
  }
  .title-link-invert {
    @apply hover:bg-black/25;
  }
  .subtitle-invert {
    @apply text-white;
  }
  .box-invert {
    @apply bg-indigo-900;
  }
  .box-link {
    @apply hover:shadow-lg hover:ring-1 hover:shadow-black hover:ring-black;
  }
  .box-invert.box-link {
    @apply hover:shadow-indigo-900 hover:ring-indigo-900;
  }
  /* https://github.com/tailwindlabs/tailwindcss/pull/5732 */
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
