{{ $currentPage := . }}
{{ $url := (.Site.GetPage "/kontakt").RelPermalink }}
{{ $on_contact_page := eq $url $currentPage.RelPermalink }}
{{ with .Site.GetPage "/kontakt" }}
  <article
    id="kontakt"
    class="{{ if not $on_contact_page }}bg-slate-100{{ end }}"
  >
    <div class="contain">
      <div class="boxes-large">
        <div class="lg:w-1/2">
          <header>
            <h2 class="title text-3xl">
              <a class="title-link" href="{{ .RelPermalink }}"
                >{{ .Params.title }}</a
              >
            </h2>
            <p class="mb-4 italic">
              {{ .Params.summary | $.Page.RenderString }}
            </p>
          </header>
          <div class="custom-prose">
            <p>
              {{ .Params.note | $.Page.RenderString }}
            </p>
            <p>
              {{ .Params.address | $.Page.RenderString }}
            </p>
            <dl>
              <dt class="float-left mr-1 after:content-[':']">E-Mail</dt>
              <dd>
                <a href="mailto:{{ .Params.email }}">
                  {{ .Params.email | $.Page.RenderString }}
                </a>
              </dd>
            </dl>
            {{ .Params.quote | $.Page.RenderString }}
          </div>
        </div>
        <div class="lg:w-1/2">
          {{ partial "picture" (dict
            "src" (index .Params.images 0)
            "format" "portrait"
            "alt" "Ankommen"
            "breakpoint" "lg"
            )
          }}
        </div>
      </div>
    </div>
  </article>
{{ end }}
