<footer>
  <div class="bg-slate-900 text-slate-100 text-sm">
    <div class="contain">
      <div class="mb-8 boxes">
        {{ range .Site.Data.footer.boxes -}}
          <div class="custom-prose-invert md:w-2/5">
            {{ .text | $.Page.RenderString }}
          </div>
        {{ end }}
        <div class="md:w-1/5">
          <ul class="custom-prose-invert">
            {{ range .Site.Menus.main }}
              <li>
                <a href="{{ .URL }}" class="block">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <hr />
      <div class="text-center">
        <ul class="custom-prose-invert m-8">
          {{ range .Site.Menus.footer }}
            <li class="inline px-2">
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
        <hr />
        <div class="custom-prose-invert mt-8">
          {{ .Site.Data.footer.quote | $.Page.RenderString }}
        </div>
      </div>
    </div>
  </div>
</footer>
