<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html" charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="icon" sizes="any" href="{{ string "/favicon.ico" | relURL }}" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ string "/apple-touch-icon.png" | relURL }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ string "/favicon-32x32.png" | relURL }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ string "/favicon-16x16.png" | relURL }}"
  />
  <link
    rel="icon"
    href="{{ string "/favicon.svg" | relURL }}"
    sizes="any"
    type="image/svg+xml"
  />
  <link rel="manifest" href="{{ string "/site.webmanifest" | relURL }}" />

  {{ $styles := resources.Get "css/styles.css" }}
  {{ if hugo.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
  {{ else }}
    {{ $styles := $styles | minify | fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $styles.RelPermalink }}"
      integrity="{{ $styles.Data.Integrity }}"
    />
  {{ end }}

  {{ $title := print .Site.Title " " .Site.Params.separator " " .Site.Params.subtitle }}
  {{ if not (.IsHome) }}
    {{ $title = print .Title " " .Site.Params.separator " " $title }}
  {{ end }}
  <title>{{ $title }}</title>

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{- partial "schema.html" . -}}
  {{- partial "opengraph.html" . -}}
  {{- partial "twitter-cards.html" . -}}
  {{- partial "json-ld.html" . -}}
</head>
