<nav>
  <div class="flex flex-wrap justify-between">
    <div class="flex justify-between w-full lg:w-auto">
      <a
        href="{{ "/" | relURL }}"
        class="flex justify-between font-serif hover:rounded hover:p-2 hover:-m-2 hover:bg-slate-100"
      >
        <span class="mr-1 self-center sm:whitespace-nowrap"
          >{{ .Site.Title }}</span
        >
        <span class="self-center">{{ .Site.Params.separator }}</span>
        <span class="ml-1 italic self-center sm:whitespace-nowrap"
          >{{ .Site.Params.subtitle }}</span
        >
      </a>
      <button
        data-collapse-toggle="main-menu"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-slate-500 rounded-lg lg:hidden hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-200"
        aria-controls="main-menu"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <svg
          class="hidden w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
    <div class="hidden w-full lg:block lg:w-auto" id="main-menu">
      <ul class="flex flex-col mt-4 lg:flex-row lg:gap-x-4 lg:mt-0 lg:text-sm">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ $active := ($currentPage.IsMenuCurrent "main" .) | or ($currentPage.HasMenuCurrent "main" .) | or (eq .URL $currentPage.RelPermalink) }}
          {{ if $active }}
            <li>
              <a
                href="{{ .URL }}"
                class="block py-2 px-3 bg-slate-100 rounded"
                aria-current="page"
              >
                {{ .Name }}
              </a>
            </li>
          {{ else }}
            <li>
              <a
                href="{{ .URL }}"
                class="block py-2 px-3 border-b border-slate-100 rounded hover:bg-slate-100 lg:border-0"
              >
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
