{{- /* Taken from https://github.com/gohugoio/hugo/blob/master/tpl/tplimpl/embedded/templates/twitter_cards.html */}}
{{- /* and resized `twitter:image` images. */}}
{{- $size := "1200x" -}}
{{- with $.Params.images -}}
  <meta name="twitter:card" content="summary_large_image" />
  <meta
    name="twitter:image"
    content="{{ ((resources.Get (index . 0)).Resize $size).Permalink }}"
  />
{{ else -}}
  {{- $images := $.Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- if not $featured }}
    {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
  {{ end -}}
  {{- with $featured -}}
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="{{ ($featured.Resize $size).Permalink }}"
    />
  {{- else -}}
    {{- with $.Site.Params.images -}}
      <meta name="twitter:card" content="summary_large_image" />
      <meta
        name="twitter:image"
        content="{{ ((resources.Get (index . 0)).Resize $size).Permalink }}"
      />
    {{ else -}}
      <meta name="twitter:card" content="summary" />
    {{- end -}}
  {{- end -}}
{{- end }}
<meta name="twitter:title" content="{{ .Title }}" />
<meta
  name="twitter:description"
  content="{{ with .Description }}
    {{ . }}
  {{ else }}
    {{ if .IsPage }}
      {{ .Summary }}
    {{ else }}
      {{ with .Site.Params.description }}{{ . }}{{ end }}
    {{ end }}
  {{ end -}}"
/>
{{ with .Site.Params.Social.twitter -}}
  <meta name="twitter:site" content="@{{ . }}" />
{{ end -}}
