{{ define "main" }}
  {{ $slideshow := .Params.slideshow }}
  {{ with .Site.GetPage "/hintergrund" }}
    <article class="contain">
      <section
        class="relative mb-8 -mx-8 lg:mx-auto text-center"
        aria-label="Diashow"
        tabindex="0"
      >
        <a
          class="absolute top-auto w-px h-px overflow-hidden focus:z-50 focus:items-center focus:bg-indigo-900/80 focus:text-indigo-100 focus:flex focus:w-full focus:h-full focus:justify-center"
          href="#massage"
          >Diashow überspringen</a
        >
        <div
          class="w-full flex overflow-scroll snap-x snap-mandatory scroll-smooth scrollbar-none"
        >
          {{ $photography_count := len $slideshow }}
          {{ range $index, $photography := $slideshow }}
            {{ $index_plus_1 := add $index 1 }}
            <section
              class="w-full items-center flex shrink-0 justify-center relative snap-center scale-100 origin-center transition-transform"
              id="{{ $photography.anchor }}"
              aria-label="Fotografie {{ $index_plus_1 }} von {{ $photography_count }} mit dem Titel: {{ $photography.title }}"
              tabindex="0"
            >
              <header class="absolute p-4 top-0 left-0 opacity-80">
                <h5
                  class="title title-invert text-2xl drop-shadow-[0_0_3px_rgba(0,0,0,0.5)]"
                >
                  {{ $photography.title }}
                </h5>
              </header>
              <a
                class="w-full text-slate-100"
                href="{{ ((resources.Get $photography.path).Resize "1280x").RelPermalink }}"
              >
                {{ partial "picture" (dict
                  "src" $photography.path
                  "format" "landscape"
                  "alt" $photography.description
                  )
                }}
              </a>
              <nav>
                {{ if gt $index 0 }}
                  {{ $previous_index := sub $index 1 }}
                  {{ $previous_photography := index $slideshow $previous_index }}
                  <a
                    class="absolute pl-4 top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 text-slate-100 opacity-60 hover:opacity-80 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
                    href="#{{ $previous_photography.anchor }}"
                    aria-label="Springe zur vorherigen Fotografie {{ $previous_index }} mit dem Titel: {{ $previous_photography.title }}"
                    tabindex="-1"
                  >
                    <span
                      class="text-5xl drop-shadow-[0_0_3px_rgba(0,0,0,0.5)]"
                      aria-hidden="true"
                      >&lsaquo;</span
                    >
                    <span class="invisible">Vorherige Fotografie</span>
                  </a>
                {{ end }}
                {{ if lt $index (sub $photography_count 1) }}
                  {{ $next_index := add $index 1 }}
                  {{ $next_photography := index $slideshow $next_index }}
                  <a
                    class="absolute pr-4 top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 text-slate-100 opacity-60 hover:opacity-80 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
                    href="#{{ $next_photography.anchor }}"
                    aria-label="Springe zur nächsten Fotografie {{ $next_index }} mit dem Titel: {{ $next_photography.title }}"
                    tabindex="-1"
                  >
                    <span class="invisible">Nächste Fotografie</span>
                    <span
                      class="text-5xl drop-shadow-[0_0_3px_rgba(0,0,0,0.5)]"
                      aria-hidden="true"
                      >&rsaquo;</span
                    >
                  </a>
                {{ end }}
              </nav>
              {{ $centered_index := sub $index (div $photography_count 2) }}
              <div
                class="absolute bottom-0 w-full flex flex-row justify-center content-center my-4"
                aria-hidden="true"
              >
                <span
                  class="block opacity-80 rounded-full w-4 h-4 bg-slate-50"
                  style="margin-left: {{ mul $centered_index 3 }}rem;"
                >
                </span>
              </div>
            </section>
          {{ end }}
        </div>
        <nav class="absolute bottom-0 w-full">
          <ol class="flex flex-row justify-center content-center my-4">
            {{ range $index, $photography := $slideshow }}
              {{ $index_plus_1 := add $index 1 }}
              <li class="block mx-1">
                <a
                  class="block opacity-60 rounded-full w-4 h-4 bg-slate-50 hover:opacity-80 active:opacity-80 focus:opacity-80 drop-shadow-[0_0_3px_rgba(0,0,0,0.5)]"
                  href="#{{ $photography.anchor }}"
                  aria-label="Springe zu Fotografie {{ $index_plus_1 }} mit dem Titel: {{ $photography.title }}"
                  ><span class="invisible">{{ $index_plus_1 }}</span>
                </a>
              </li>
            {{ end }}
          </ol>
        </nav>
      </section>
      <div class="lg:w-2/3">
        <header>
          <h1 class="title text-5xl">
            <a class="title-link" href="{{ .RelPermalink }}">
              {{ .Params.home.title | $.Page.RenderString }}
            </a>
          </h1>
          <p class="subtitle">
            {{ .Params.home.summary | $.Page.RenderString }}
          </p>
        </header>
        <div class="custom-prose">
          <p>
            {{ .Params.short | $.Page.RenderString }}
          </p>
          <p>
            <a href="{{ print .RelPermalink "#naeheres-ueber-thai-yoga" }}"
              >Erfahre mehr über Thai-Yoga-Massage</a
            >
          </p>
        </div>
      </div>
      <section class="mt-8">
        <div class="lg:w-2/3">
          <header>
            <h2 class="title text-3xl">
              <a
                class="title-link"
                href="{{ print .RelPermalink "#" .Params.effects.anchor }}"
              >
                {{ .Params.effects.title | $.Page.RenderString }}
              </a>
            </h2>
            <p class="subtitle">
              {{ .Params.effects.summary | $.Page.RenderString }}
            </p>
          </header>
          <div class="custom-prose">
            <p>
              {{ .Params.effects.description | $.Page.RenderString }}
            </p>
          </div>
        </div>
        <dl class="my-8 boxes">
          {{ $url := .RelPermalink }}
          {{ range .Params.effects.boxes }}
            <a
              href="{{ print $url "#" .anchor }}"
              class="box box-invert box-link md:w-1/3"
            >
              <dt class="title title-invert mb-4 text-3xl">
                {{ .title | $.Page.RenderString }}
              </dt>
              <dd class="custom-prose-invert">
                {{ .summary | $.Page.RenderString }}
              </dd>
            </a>
          {{ end }}
        </dl>
        <p class="custom-prose">
          <a
            href="{{ print .RelPermalink "#naeheres-ueber-" .Params.effects.anchor }}"
            >Erfahre mehr über anekdotische Wirkungen</a
          >
        </p>
      </section>
    </article>
  {{ end }}
  {{ with .Site.GetPage "/ueber-mich" }}
    <article id="ueber-mich">
      <div class="contain pt-0">
        <div class="boxes md:flex-row-reverse">
          <div class="md:w-1/2">
            {{ partial "picture" (dict
              "src" "images/portrait/portrait.jpg"
              "format" "portrait"
              "alt" "Portrait von Simon herzlich lachend mit leuchtenden Augen")
            }}
          </div>
          <div class="md:w-1/2">
            <header>
              <h2 class="title text-3xl">
                <a class="title-link" href="{{ .RelPermalink }}">
                  {{ .Params.title | $.Page.RenderString }}
                </a>
              </h2>
              <p class="subtitle">
                {{ .Params.summary | $.Page.RenderString }}
              </p>
            </header>
            <div class="custom-prose">
              <p>
                {{ .Params.short | $.Page.RenderString }}
              </p>
              <p>
                <a href="{{ print .RelPermalink }}">Erfahre mehr über mich</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
  {{ end }}
  {{ with .Site.GetPage "/sitzung" }}
    <article id="sitzung" class="bg-indigo-900">
      <div class="contain">
        <div class="boxes">
          <div class="md:w-1/2">
            <header>
              <h3 class="title title-invert text-3xl">
                <a
                  class="title-link title-link-invert"
                  href="{{ .RelPermalink }}"
                >
                  {{ .Params.title }}
                </a>
              </h3>
              <p class="subtitle subtitle-invert">
                {{ .Params.summary | $.Page.RenderString }}
              </p>
            </header>
            <div class="custom-prose-invert">
              {{ .Params.course_of_events | $.Page.RenderString }}
            </div>
          </div>
          <div class="md:w-1/2">
            {{ partial "picture" (dict
              "src" "images/portrait/body-wave.jpg"
              "format" "portrait"
              "alt" "Körperwelle")
            }}
          </div>
        </div>
        <dl class="my-8 boxes">
          {{ $url := .RelPermalink }}
          {{ range .Params.boxes }}
            <a
              href="{{ print $url "#" .anchor }}"
              class="box box-link md:w-1/3"
            >
              <dt class="title mb-4 text-3xl">
                {{ .title | $.Page.RenderString }}
              </dt>
              <dd class="custom-prose">
                {{ .summary | $.Page.RenderString }}
              </dd>
            </a>
          {{ end }}
        </dl>
        <p class="custom-prose-invert">
          <a href="{{ print .RelPermalink "#naeheres" }}"
            >Erfahre mehr über eine Sitzung</a
          >
          oder
          <a href="{{ string "/kontakt/" | relURL }}"
            >vereinbare gleich einen Termin</a
          >
        </p>
      </div>
    </article>
  {{ end }}
  {{- partial "contact.html" . -}}
  <article>
    <div class="flex flex-col md:flex-row md:flex-wrap">
      {{ range .Params.photographies }}
        <a
          class="relative group w-full text-indigo-100 md:w-1/3"
          href="{{ ((resources.Get .path).Resize "1280x").RelPermalink }}"
        >
          {{ partial "picture" (dict
            "src" .path
            "format" "portrait"
            "alt" .description
            "breakpoint" "md"
            "fraction" 3
            )
          }}
          <div
            class="absolute bg-indigo-900/80 bottom-0 w-full h-full flex flex-col items-center justify-center text-center invisible group-hover:visible"
          >
            <h6 class="title title-invert text-2xl">{{ .title }}</h6>
            <p>{{ .description }}</p>
          </div>
        </a>
      {{ end }}
    </div>
  </article>
{{ end }}
